@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
 background-color: rgb(20, 21, 38); 

}

.container-title {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 35px;
  gap: 10px;
  
}

h1 {
  color: #fff;
  font-size: 2.5rem;


}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin-top: 250px;
}

button {
  width: 220px;
  height: 45px;

  margin-bottom: 15px;

  border-radius: 5px;
  background-color: rgb(79, 99, 247);
  color: #fff;
  cursor: pointer;

  font-size: 1.2rem;
}

p {
  color: #fff;  
  font-size: 2rem;
}

svg {
  color: white;
}

